<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shashank Vemuri | Software Engineer</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Inconsolata:400,700" rel="stylesheet">
    <link rel="stylesheet" href="https://shashankvemuri.github.io/assets/styles/main.css">
    <link rel="stylesheet" href="https://shashankvemuri.github.io/assets/styles/custom.css">
    <meta content="Shashank Vemuri | Software Engineer" property="og:title">
    <meta content="Hey! I'm Shashank Vemuri, a 17-year-old software engineer and content creator!" property="og:description">
    <meta property="og:image" content="https://shashankvemuri.github.io/assets/img/og.png">
    <meta content="https://shashankvemuri.github.io" property="og:url">
    <link rel="icon" href="https://shashankvemuri.github.io/assets/img/circle_headshot.png" type="image/png" hreflang="en-us">
    <meta property="og:type" content="website" />
    <meta property="og:site_name" content="Shashank Vemuri | Software Engineer" />
    <meta property="og:image:width" content="1280" />
    <meta property="og:image:height" content="800" />
    <meta property="og:locale" content="en_US">
    <meta name="keywords" content="engineering, stock market, finance, medium, development, web, shashankvemuri, shashank, vemuri, python, North Brunswick Township High Schoool">
    <meta name="google-site-verification" content="DCl7VAf9tcz6eD9gb67NfkNnJ1PKRNcg8qQiwpbx9Lk" />
</head>
<body>
    <div class="switch-wrapper">
        <div class="sun"></div>
        <div class="toggle-wrapper">
          <input id="switch" type="checkbox" />
          <label for="switch" id="toggle">Toggle</label>
        </div>
        <div class="moon"></div>
      </div>

      <a id="coursework"></a>
      <section class="section skills">
        <div class="section__title">Coursework <br> <font size="-1.5">GPA: 4.7/4.3</font></div>
          <div class="section__content">
            <div class="skillz">
              <div class="skillz__category">
                <div class="skillz__category__label">Freshman</div>
                <ul>
                  {% for _ in site.data.coursework.Freshman %}
                  <li class="skillz__category__item">{{_.item}}</li>
                  {% endfor %}
                </ul>
              </div>
              <div class="skillz__category">
                <div class="skillz__category__label" >Sophomore</div>
                <ul>
                  {% for _ in site.data.coursework.Sophomore %}
                  <li class="skillz__category__item">{{_.item}}</li>
                  {% endfor %}
                </ul>
              </div>
              <div class="skillz__category">
                <div class="skillz__category__label">Junior</div>
                <ul>
                  {% for _ in site.data.coursework.Junior %}
                  <li class="skillz__category__item">{{_.item}}</li>
                  {% endfor %}
                </ul>
              </div>
              <div class="skillz__category">
                <div class="skillz__category__label">Senior (Exp.) </div>
                <ul>
                  {% for _ in site.data.coursework.Senior %}
                  <li class="skillz__category__item">{{_.item}}</li>
                  {% endfor %}
                </ul>
              </div>
          </div>
        </section>
</body>
<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js' type="text/javascript" charset="utf-8"></script>
<script src="https://unpkg.com/scrollreveal/dist/scrollreveal.min.js"></script>
<script src='/assets/scripts/main.js' type="text/javascript" charset="utf-8"></script>
</html>